.App {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.App-Header {
    text-align: center;
    border-color: gray;
    border-width: 5px;
    border-style: solid;
    background-color: lightseagreen;
}


.App-Body {
    margin: 0;
    padding: 0;
}

.Main-Page-Wrapper {
    text-align: center;
}

header h1 {
    color: black;
}

h1 {
    text-align: center;
    color: slategray;
}

div {
    margin: 10px;
    text-align: left;
}

.orderHubProductList-Wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
}

.orderListElement-Wrapper {
    width: 305px;
    margin: 5px;
}

.productHubProductList-Wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
}

.productBody-Wrapper {
    width: 320px;
    height: 400px;
}

.userHub-UserList-Wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
}

.userList-Element-Wrapper {
    width: 300px;
    height: 150px;
}

.FormProductListSubmit-Wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
}

.productImageWrapper {
    width: 200px;
    display: flex;
    border-style: solid;
    border-color: #282c34;
    border-width: 5px;
}

.productCheckboxList-Wrapper {
    display: flex;
    flex-direction: column;
}

.checkbox-Wrapper {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-Wrapper input {
    position: relative;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.checkbox-Wrapper:hover input ~ .checkmark {
    background-color: #ccc;
}

.checkbox-Wrapper input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-Wrapper input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-Wrapper .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

button {
    margin: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    background-color: lightblue;
}

.button-submit-wrapper {
    background-color: darkcyan;
    border-color: black;
}

.button-cancel-wrapper {
    background-color: indianred;
    border-color: black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}