.App {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.App-Header {
    text-align: center;
    border-color: gray;
    border-width: 5px;
    border-style: solid;
    background-color: lightseagreen;
}


.App-Body {
    margin: 0;
    padding: 0;
}

.Main-Page-Wrapper {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    align-content: center;
    flex-direction: column;
}

.form-login-wrapper {
    display: flex;
    flex-direction: column;
}

header h1 {
    color: black;
}

h1 {
    text-align: center;
    color: slategray;
}

div {
    margin: 10px;
    text-align: left;
}

.passwordChange-Wrapper {
    display: flex;
    flex-direction: column;
    width: 310px;
}

.orderHubProductList-Wrapper {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
}

.orderListElement-Wrapper {
    border-style: solid;
    border-width: 4px;
    border-color: gray;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    width: 305px;
}

.productHubProductList-Wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
}

.productBody-Wrapper {
    width: 320px;
    height: 400px;
}

.userHub-UserList-Wrapper {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
}

.userList-Element-Wrapper {
    border-style: solid;
    border-width: 4px;
    border-color: gray;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    width: 250px;
    height: 200px;


}

.FormProductListSubmit-Wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
}

.productImageWrapper {
    width: 200px;
    display: flex;
    border-style: solid;
    border-color: #282c34;
    border-width: 5px;
}

.productCheckboxList-Wrapper {
    display: flex;
    flex-direction: column;
}

.checkbox-Wrapper {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-Wrapper input {
    position: relative;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.checkbox-Wrapper:hover input ~ .checkmark {
    background-color: #ccc;
}

.checkbox-Wrapper input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-Wrapper input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-Wrapper .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

button {
    margin: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 12px 20px;
    font-size: 16px;
    background-color: lightblue;
    transition-duration: 0.4s;
}

button:hover {
    background-color: white;
}

.button-submit-wrapper {
    margin: 5px;
    padding: 12px 20px;
    font-size: 16px;
    background-color: darkcyan;
    border-color: darkcyan;
}

.button-submit-wrapper:hover {
    background-color: white;
    border-color: darkcyan;
}

.button-cancel-wrapper {
    text-align: center;
    text-decoration: none;
    margin: 5px;
    padding: 12px 20px;
    width: 95px;
    font-size: 16px;
    background-color: indianred;
    border-color: indianred;
}

.button-cancel-wrapper:hover {
    background-color: white;
    border-color: indianred;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

:root {
    --toastify-color-light: #fff;
    --toastify-color-dark: #121212;
    --toastify-color-info: #3498db;
    --toastify-color-success: #07bc0c;
    --toastify-color-warning: #f1c40f;
    --toastify-color-error: #e74c3c;
    --toastify-color-transparent: rgba(255, 255, 255, 0.7);

    --toastify-icon-color-info: var(--toastify-color-info);
    --toastify-icon-color-success: var(--toastify-color-success);
    --toastify-icon-color-warning: var(--toastify-color-warning);
    --toastify-icon-color-error: var(--toastify-color-error);

    --toastify-toast-width: 320px;
    --toastify-toast-background: #fff;
    --toastify-toast-min-height: 64px;
    --toastify-toast-max-height: 800px;
    --toastify-font-family: sans-serif;
    --toastify-z-index: 9999;

    --toastify-text-color-light: #757575;
    --toastify-text-color-dark: #fff;

    --toastify-text-color-info: #fff;
    --toastify-text-color-success: #fff;
    --toastify-text-color-warning: #fff;
    --toastify-text-color-error: #fff;

    --toastify-spinner-color: #616161;
    --toastify-spinner-color-empty-area: #e0e0e0;

    --toastify-color-progress-light: linear-gradient(
            to right,
            #4cd964,
            #5ac8fa,
            #007aff,
            #34aadc,
            #5856d6,
            #ff2d55
    );
    --toastify-color-progress-dark: #bb86fc;
    --toastify-color-progress-info: var(--toastify-color-info);
    --toastify-color-progress-success: var(--toastify-color-success);
    --toastify-color-progress-warning: var(--toastify-color-warning);
    --toastify-color-progress-error: var(--toastify-color-error);
}